body {
	background: url('../images/background.jpeg') no-repeat;
	background-size: 100%;
	image-rendering: pixelated;
	font-family: 'Courier New', Courier, monospace;

}

img {
	height: 100px;
	width: 150px;
	border-radius: 10px;
}

.section-title {
	font-size: 200%;
	color: red;
}

.main-section-title {
	font-size: 500%;
	text-align: center;
	color: red;
	
}

.character {
	display: inline-block;
	border-style: solid;
	border-color:black;
	border-width: 3px;
	cursor: pointer;
	background-color: black;
	color: white;
}

.character-image {
	padding-right: 16px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px; 
}

#game-message {
	color: white;
}

.character-name { 
 text-align: center;
}

.character-health {
	text-align: center;
}
#available-to-attack-section .character {
	display: inline-block;
	cursor: pointer;
	background-color: red;
	border-color: black;
	border-style: solid;
	border-width: 1px;
  }
  
  .enemy {
	display: inline-block;
	cursor: pointer;
	background-color: red;
	border-color: black;
	border-style: solid;
	border-width: 1px;
  }
  
  #action .character {
	color: white;
	background-color: black;
  }
  
  .target-enemy {
	color: white;
	background-color: black;
  }
  
  #selected-character {
	width: 190px;
	height: 160px;
  }
  
  #attacker {
	width: 190px;
	height: 160px;
  }
  
  #defender {
	width: 190px;
	height: 160px;
  }
  
  #defender-name {
	text-align: center;
  }
  
  #defender-health {
	text-align: center;
  }
  
  #choose-enemy-button {
	visibility: hidden;
  }
  
  #restart-button {
	visibility: hidden;
  }
  
  #turn-counter {
	font-size: 150%;
  }
  

