body {
	background: url('../images/background.jpeg') no-repeat;
	background-size: 100%;
	image-rendering: pixelated;
	font-family: 'Courier New', Courier, monospace;

}

img {
	height: 100px;
	width: 150px;
	border-radius: 10px;
}

.section-title {
	font-size: 200%;
	color: red;
}

.main-section-title {
	font-size: 500%;
	text-align: center;
	color: red;
}

.character {
	display: inline-block;
	border-style: solid;
	border-color:black;
	border-width: 3px;
	cursor: pointer;
	background-color: black;
	color: white;
}

.character-image {
	padding-right: 16px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px; 
}


.character-name { 
 text-align: center;
}

.character-health {
	text-align: center;
}

